.card {
    /* display: flex; */
    align-items: center;
    padding: 1rem;
    /* margin: 2rem 1rem 2rem 4.5rem; */
    margin: 20px;
    flex-direction: row;
    font-family: var(--font-family);
    border-radius: 24px;
    background-color: var(--color-bg);
    width: 220px;
    box-shadow: 12px 8px 8px rgb(0 0 0 / 16%);
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* margin-left: -40px; */
    /* margin-right: 20px; */
    border-radius: inherit;
    box-shadow: 14px 8px 8px rgb(0 0 0 / 16%);
}


.card-info h2 {
    align-items: center;
    font-size: 18px;
    color: var(--color-text);
}

.card-info p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text);
    margin-bottom: 24px;
}

.btn-source, .btn-site {
    margin: 1rem;
    cursor: pointer;
    color: var(--color-blog);
    font-size: 30px;
}

.btn-source:hover {
    color: var(--color-subtext);
    font-size: 40px;
}

.btn-site:hover {
    color: var(--color-subtext);
    font-size: 40px;
}

/* Media Queries */

@media (min-width: 1025px) and (max-width: 1200px) {
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    
}

@media (min-width: 481px) and (max-width: 768px) {
   
}

@media (min-width: 320px) and (max-width: 480px) {
    .card {
        width: 180px;
    }
}