.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 24px;
    padding: 2rem;

    /* Background gradient */
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);
}

.projects-heading h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 800;
        font-family: var(--font-family);
        max-width: 510px;
}

.cards-container {
        display: flex;
        flex-direction: row;
}


/* Media Queries */

@media screen and (min-width: 1500px) {
        .projects-container, .cards-container {
                display: flex;
                flex-wrap: wrap; 
                align-content: flex-start;
                justify-content: space-around;
                align-content: space-around;
        }
}

@media (max-width: 1500px) {
        .cards-container {
                margin: 0 40px;
                padding-left: 50px;
                padding-right: 50px;
                width: 50%;
                text-align: center;
                flex-direction: column;
        }
}

@media (min-width: 1024px) and (max-width: 1200px) {
        .cards-container {
                margin: 0 20px;
                padding-left: 40px;
                padding-right: 40px;
                width: 50%;
                text-align: center;
                flex-direction: column;
        }
}

@media (min-width: 769px) and (max-width: 1023px) {
        .cards-container {
                margin-left: -60px;
                padding-left: 40px;
                padding-right: 40px;
                width: 50%;
                text-align: center;
                flex-direction: column;
        }
}

@media (min-width: 481px) and (max-width: 768px) {
        .cards-container {
                margin-left: -60px;
                padding-left: 40px;
                padding-right: 40px;
                width: 50%;
                text-align: center;
                flex-direction: column;
        }
}

@media (min-width: 320px) and (max-width: 480px) {
        .cards-container {
                margin-left: -115px;
                padding-left: 40px;
                padding-right: 40px;
                width: 50%;
                text-align: center;
                flex-direction: column;
        }
}