.projects-container {
        border-radius: 24px;
        padding: 2rem;

    /* Background gradient */
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 100% 0%,
            #fff5eb 0%,
            #deedf0 50%,
            #ebeee8 100%);
}

.projects-heading h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 800;
        font-family: var(--font-family);
        max-width: 510px;
}

.cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
}


/* Media Queries */

@media (min-width: 768px) and (max-width: 1024px) {
        .cards-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr;
        }
}

@media (min-width: 481px) and (max-width: 767px) {
        .cards-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr 1fr;
        }
}

@media (min-width: 320px) and (max-width: 480px) {
        .cards-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr 1fr;
        }
}
