.header {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    margin-bottom: 0;
}

.header-text {
    margin-bottom: 0;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 78px;
    letter-spacing: -0.04rem;
    margin-bottom: 1rem;
}

.header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1rem;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 50%;
    height: auto;
    
}

/* Media Queries */

@media (min-width: 1025px) and (max-width: 1200px) { 
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }

    .header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .header-content p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }

    .header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }
    
    .header-content p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .header-content {
        margin: 0 0 3rem;
    }

    .header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .header-content p {
        font-size: 12px;
        line-height: 24px;
        font-weight: 600;
    }
}
