.header {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin-right: 5rem; */
    /* margin-bottom: 0.5rem; */
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 80px;
    line-height: 120px;
    letter-spacing: -0.04rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    /* position: relative; */
}

.header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1rem;
    margin-left: 2.7rem;
    /* position: relative; */
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

img {
    max-width: 60%;
    height: auto;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.cv-btn {
    /* background-color: tan; */
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    border-radius: 12px;
    padding: 1rem;
    border: none;
    margin-left: 2.7rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.38);
}

.social-links {
    display: flex;
    font-size: 40px;
    color: var(--color-text);
}

.linkedin {
    margin: 1rem;
    margin-left: 2rem;
}

.github {
    margin: 1rem;
}

/* Media Queries */

@media (min-width: 1025px) and (max-width: 1200px) { 
    .header-content {
        margin: 0 0 3rem;
    }

    .header-content h1 {
        font-size: 80px;
        line-height: 110px;
    }
    
    .header-content p {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
    }
    
    .header-image {
        margin-top: 1.4rem;
        margin-bottom: 0;
    }
    
    .btn-container {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        margin-bottom: 1rem;
        /* margin-right: 3rem; */
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        margin: 0;
    }

    .header-content h1 {
        font-size: 60px;
        line-height: 80px;
    }

    .header-content p {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
    }

    .header-image {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        /* margin-right: 2rem; */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        margin: 0;
        margin-bottom: 1.6rem;
    }

    .header-content h1 {
        font-size: 60px;
        line-height: 80px;
    }
    
    .header-content p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
    }

    .header-image {
        margin-top: 0;
        margin-bottom: 2.4rem;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-content {
        margin: 0;
        margin-bottom: 1.6rem;
    }

    .header-content h1 {
        font-size: 60px;
        line-height: 80px;
    }

    .header-content p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    .header-image {
        margin-top: 0;
        margin-bottom: 2.4rem;
    }

  .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 2.6rem;
  }

  .social-links {
      display: flex;
      font-size: 40px;
      color: var(--color-text);
  }

  .linkedin {
      margin: 1rem;
      margin-left: 3.4rem;
  }

  .github {
      margin: 1rem;
  }
}
