.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
}

.navbar-links div {
    margin-right: 1rem;
}

.navbar-links_logo {
  margin-right: 0.4rem;
  font-size: 30px;
}

.link {
  transition: all .65s ease;
  font-weight: 600;
  letter-spacing: 1px;
}

.link:hover {
  color: var(--color-blog);
  font-size: 20px;
  letter-spacing: 2px;
  transform: translateY(-2px) translateX(-3px);
}
.side-link:hover {
  color: var(--color-blog);
  font-weight: bolder;
  letter-spacing: 1px;
  transform: translateY(-2px) translateX(-3px);
}

.navbar-links_container,
.navbar-sign,
.navbar-menu_container {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  display: flex;  
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.navbar-links_container div {
    padding: 0.8rem;
}

.navbar-sign button,
.navbar-menu_container button {
  /* padding: 1rem;
  margin-right: 1rem; */
  padding: 0.7em 1em;
  padding-left: 0.9em;
  color: var(--color-text);
  /* background: salmon; */
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;

    background: rgba(255, 255, 255, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.38);
}

button  {
  display: block;
  margin-left: 1.5em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(7em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.2em);
  }
}

.navbar-menu {
  margin-top: -1.7rem;
  margin-left: 13rem;
  display: none;
  position: relative;
}

.navbar-menu svg {
  cursor: pointer;
}

.navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding: 1rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  margin: 1.4rem 0;
  min-width: 150px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar-menu_container-links div {
    padding: 0.5rem;
    font-weight: 600;
}

.navbar-menu_container-links-sign {
  display: none;

}

/* Media Queries */

@media screen and (max-width: 1050px) {
  .navbar {
    padding: 2rem;
    margin-top: 0.4rem;
    margin-right: -1.4rem;
  }

  .navbar-links_container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }

  .navbar-sign {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .navbar {
    padding: 2rem;
    margin-top: 0.4rem;
    margin-right: -1.4rem;
  }
  
  .navbar-sign {
    display: none;
  }
  
  .navbar-menu_container {
    top: 20px;
  }
  
  .navbar-menu_container-links-sign {
    display: block;
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem;
    margin-top: 0.4rem;
    margin-right: -1.4rem;
  }

  .navbar-sign {
    display: none;
  }

  .navbar-menu_container {
    top: 20px;
  }
    
  .navbar-menu_container-links-sign {
    display: block;
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 1.6rem;
    margin-top: 0.4rem;
    margin-right: -1.4rem;
  }

  .navbar-sign {
    display: none;
  }

  .navbar-menu_container {
    top: 20px;
  }

  .navbar-menu_container-links-sign {
    display: block;
    font-size: 10px;
  }
}